<jbx-root-layout [ariaLabel]="'Root container'">

    <ng-container header>
        <jbx-select-button
            [id]="'theme-color-select-button'"
            [dataTestId]="'theme-color-select-button'"
            i18n-ariaLabel
            [ariaLabel]="'Select the application theme color'"
            [options]="ThemeColor | keyvalue"
            [optionLabel]="'key'"
            [optionValue]="'value'"
            [value]="ThemeColor.orange"
            (valueChange)="onThemeColorSelectionButtonValueChange($event)"
        >
        </jbx-select-button>
    </ng-container>

    <ng-container>
        <router-outlet />
    </ng-container>
</jbx-root-layout>